body {
	margin: 0;
	background-color: #f9f9f9;
}

.side_menu {
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #281F20;
	float: left;
}

.logo {
	margin-top: 3em;
}
.logo > img {
	width: 260px;
	height: auto;
	margin-left: 15%;
	margin-top: 6em;

}

.btns { 
	margin-top: 8em;
}

.btns > button {
	width: 100%;
	height: 5em;
	margin-bottom: 2em;
	background-color: #777;
	border-style: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	transition: background-color 0.5s linear;
	transition: color 0.5s;
}

.btns>button:hover{
	background-color: #Ddd;
	font-weight: bolder;
	color: #54A5F7;
}

.btns>button:active{
	background-color: #Ddd;
}

.menu_footer {
	text-align: center;
	margin-top: 1em;
	font-size: 10px;
	color: #54A5F7;
}

.content {
    margin-left: 20%;
}

.content section{
	margin: 0;
	width: auto;
    height: 100vh;
    font-size: 40px;
}

.content section h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
	color: #54A5F7;
	padding-top: 1em;
}

.home {
	background-image: url(../img/fundo.svg);
	background-repeat: no-repeat;
	background-position: center;
}

